*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #aad4cf;
}

header img{
    margin: -3px;
    position: relative;
    left:11.5%;
    
}

header h1{
    position: absolute;
    left: 39%;
    color: white;
    font-size: 48px;
    top:195px;
}

nav ul{
    display: flex;
    justify-content: space-around;
    padding:5px;
    font-size: 25px;
    list-style-type: none;
    
}

.navi{
    padding:0px 122px;
    border-right: 2px solid #000;
}


main{
    position: absolute;
    left: 11.5%;
    width: 1020px;
    background-color: #D4E9E7;
}

main h2{
    padding: 10px;
    font-size: 30px;
 
}

main p{
    position: relative;
    font-size: 16px;
    top: 10px;
    padding: 10px;
}

main img{
    padding: 10px 10px;
    width: 200px;
    height: 200px;
    float:left;
}


h4{
    padding: 10px;
    font-size: 23px ;
}

.description {
    padding:0px 20px;
}
h5{
    font-size: 25px;
    padding: 10px;
}

.grid{
    width: 965px;
    border:1px solid #000;
    margin: 0px 22px;
}

.inputbar{
    width: 930px;
    position: relative;
    left: 1%;
}

#message{
    width: 930px;
    position: relative;
    left: 1%;
    height: 150px;
}

.choice{
    padding: 10px;
}

.radiobar{
   margin: 2px;


}

button{ 
    height: 30px;
    width: 50px;
    background-color: #D4E9E7;
    border: 1px solid #000;
}

footer{
    position: relative;
    left: 83%;
    padding: 20px;